path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #BD3613;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #BD3613;
  font: 15px sans-serif;
  pointer-events: none;
}
body, .stage {
    background: #042029;
}
